.UserProfile{
    margin-right: 200px;
    margin-left: 10px;
    align-items: start;
    display:block;
}
.row{
    content: "";
    display: list-item;
}
.LeftColumn{
    float: left;
    width: 48%;
    height: 100px;
    min-width: 48%;
    min-height: 100px;
}
.RightColumn{
    float: left;
    width: 48%;
    height: 100px;
    min-width: 48%;
    min-height: 100px;
}



