.home-page {
    display: flex;
    justify-content: space-between;
}

.EventList>p {
    margin-left: 4vw;
    margin-top: 5vh;
    margin-bottom: 1vh;
}

.EventList h1 {
    margin-left: 4vw;
    margin-top: 1vh;
}

.google-map {
    width: 50vw;
    height: calc(100vh - 90px);
    position: sticky;
    top: 90px;
    /* border-style: solid;
    border-width: 15px;
    border-color: #5785E8;
    border-radius: 10px; */
}

.pin {
    display: flex;
    flex-direction: row;
}

.pin-text {
    font-size: 1.3em;
    white-space: nowrap;
    text-shadow: 1px 1px 2px lightgrey;
}