.home-page {
    display: flex;
    justify-content: space-between;
}

.EventList>p {
    margin-left: 4vw;
    margin-top: 5vh;
    margin-bottom: 1vh;
}

.EventList h1 {
    margin-left: 4vw;
    margin-top: 1vh;
}